.custom-card {
    width: 400px;
}

.form-group {
    width: 350px;
}

h2 {
    padding-left: 100px;
    padding-bottom: 15px;
}

.navbar-brand {
    padding: 20px;
}


/* TODO pagination and form  */


.card-body{
    margin-bottom: 10px;
}