
.card {
    width: 350px;
    box-shadow: black;
    padding: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.form-group{
    width: 350px;
}

h2{
    padding-left: 100px;
    padding-bottom: 15px;
}

.btn .btn-primary{
    text-align: center;
}

.navbar-brand{
    padding: 20px;
}