{% extends "network/layout.html" %} {% block body %}
{% load static %}
<script src="{% static 'network/script.js' %}" type="text/javascript"></script>
<div class="container">
    {% if user.is_authenticated %}

    <form action="/" method="post">
        {% csrf_token %}
        {% load widget_tweaks%}

        {% for field in form %}

        {% render_field field class+="input-box" %}

        {% endfor %}
        <button type="submit">Post!</button>
    </form>

    {% endif %}

    {% for post in posts %}
    <div class="card text-center custom-card mx-auto mt-3">
        <div class="card-body">
            <a href="/profile/?username={{post.creator}}">
                <h5 class="card-title">{{post.creator}}</h5>
            </a>
            <p class="card-text">{{post.content}}</p>
            <textarea hidden name="" id="{{post.id}}" cols="30" rows="10"></textarea>
            <p class="card-text">{{post.created_at}}</p>
            <p class="card-text" id="like-{{post.id}}">{{post.likes}}</p>

            {% if request.user.is_authenticated %}
            {% if post.creator != request.user %}
            
            <button onclick="handleLike({{post.id}})">Like</button>
            {% endif %}
            {% endif %}


        </div>
    </div>

    {% endfor %}

    <div class="custom-card text-center mx-auto mt-5">
        {% if posts.has_other_pages %}
        <ul class="pagination">
            {% if posts.has_previous %}
            <!-- Left -->
            <li class="page-item">
                <a class="page-link" href="?page={{posts.previous_page_number}}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %} {% for i in posts.paginator.page_range %} {% if posts.number == i %}

            <li class="page-item active">
                <p class="page-link">{{i}}</p>
            </li>

            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %} {% endfor %} {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{posts.next_page_number}}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}